<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="es-MX">
<div th:replace="layout/header :: estilos"></div>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="d-flex" id="wrapper">
		<div th:replace="layout/header :: menu"></div>
		<div id="page-content-wrapper" style="width:100%;">
			<!-- Page content-->
			<div class="container-fluid" style="margin-top:15px;margin-bottom:10px;text-align:center">

				<h1>Registro de Pel&iacuteculas</h1>
				<form th:object="${Film}" method="POST" th:action="@{/InsertFilm}">
					<p>
						<font color="red">*</font> T&iacutetulo: <input type="text" th:field="*{title}" name="title" id="title" placeholder="title" required>
					</p>
					<p>
						<font color="red">*</font> Idioma: <input type="text"  name="languageName" id="languageName" placeholder="language-> name" required>
					</p>
					<p>
						<font color="red">*</font> Duraci&oacuten: <input type="text"  name="length" id="length" placeholder="length" required>
					</p>
					<hr>
					<p>
						<font color="red">*</font> Cantidad a agregar:
						<select id="amount" name="amount" class="form-control">
							<option value="-1">inventory-> COUNT(film_id)</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</p>
					<p>
						<font color="red">*</font> Categor&iacutea:
						<select id="catogory" name="category" class="form-control">
							<option value="-1">category-> name</option>
							<option th:each="category : ${categoryName}" th:value="${categoryName}" th:text="${categoryName}"></option>
						</select>
					</p>
					
					<p><font color="red">* Datos obligatorios.</font></p>
					<p>
						<button type="submit">Registrar</button> 
					</p>
	
				</form>
				
			</div>
	</div>
	</div>
	<div th:replace="layout/header :: footer"></div>
	<div th:replace="layout/header :: scripts"></div>
</body>

</html>