<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="es-MX">
<div th:replace="layout/header :: estilos"></div>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="d-flex" id="wrapper">
		<div th:replace="layout/header :: menu"></div>
		<div id="page-content-wrapper" style="width:100%;">
			<!-- Page content-->
			<div class="container-fluid" style="margin-top:15px;margin-bottom:10px;text-align:center">

				<h1>Registro de Clientes</h1>
				<form th:object="${Customer}" method="POST" th:action="@{/InsertCustomer}">
					<p>
						<font color="red">*</font> Nombre: <input type="text" th:field="*{firstName}" name="firstName" id="firstName" placeholder="first_name" required>
					</p>
					<p>
						<font color="red">*</font> Apellido: <input type="text" th:field="*{lastName}" name="lastName" id="lastName" placeholder="last_name" required>
					</p>
					<p>
						<font color="red">*</font> Correo electr&oacutenico: <input type="email" th:field="*{email}" name="email" id="email" placeholder="email" required>
					</p>
					<p>
						<font color="red">*</font> Direcci&oacuten: <input type="text" th:field="*{addressId}" name="addressId" id="addressId" placeholder="address + city + country" required>
					</p>
					<p>
					<font color="red">*</font> Sucursal:
					<select id="selectStore" name="selectStore" class="form-control">
						<option value="-1">Selecciona una opci&oacuten</option>
						<option th:each="store : ${storeId}" th:value="${storeId}" th:text="${storeId}"></option>
					</select>
					</p>
					<p><font color="red">* Datos obligatorios.</font></p>
					<p>
						<button type="submit">Registrar</button>
					</p>
				</form>

			</div>
		</div>
	</div>
	<div th:replace="layout/header :: footer"></div>
	<div th:replace="layout/header :: scripts"></div>
	<!-- <script th:src="@{assets/js/index/index.js}"></script> -->
</body>

</html>
