<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="es-MX">
<div th:replace="layout/header :: estilos"></div>
<body>
	<div th:replace="layout/header :: header"></div>
	<div class="d-flex" id="wrapper">
		<div th:replace="layout/header :: menu"></div>
		<div id="page-content-wrapper" style="width:100%;">
			<!-- Page content-->

				<h1>Registro de Pel&iacuteculas</h1>
				<form th:object="${Film}" method="POST" th:action="@{/InsertFilm}">
					<p>
						<font color="red">*</font> T&iacutetulo: <input type="text" th:field="*{title}" name="title" id="title" placeholder="title" required>
					</p>
					<p>
						<font color="red">*</font> A%ntildeo de lanzamiento: <input type="number" th:field="*{releaseYear}" name="releaseYear" id="releaseYear" placeholder="releaseYear" required>    
					</p>
					<p>
						<font color="red">*</font> Categor&iacutea: <input type="text" th:field="*{category-> name}" name="categoryName" id="categoryName" placeholder="category-> name" required>
					</p>
					<p>
						<font color="red">*</font> Idioma: <input type="text" th:field="*{language-> name}" name="languageName" id="languageName" placeholder="language-> name" required>
					</p>
					<p>
						<font color="red">*</font> Duraci&oacuten: <input type="text" th:field="*{length}" name="length" id="length" placeholder="length" required>
					</p>
					<p><font color="red">* Datos obligatorios.</font></p>
					<p>
						<button type="submit">Registrar</button> 
					</p>
				</form>

		</div>
	</div>
	<div th:replace="layout/header :: footer"></div>
	<div th:replace="layout/header :: scripts"></div>
</body>

</html>